/* ===================================== Top row ===================================== */
.topRow{
    margin-top: 5%;
}
.portImg{
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 100% 0 0 100%;
}
.portImg img{
    width: 100%;
    height: 500px;
}
/* >>>>>>>>>>> About me card <<<<<<<<<<<< */
.aboutMeCard{
    margin-top: 5%;
    margin-left: 10%;
    border: none;
}
.aboutMeHeading{
    display: flex;
    justify-content: center;
}
.aboutMeCard .card-title{
    font-size: large;
}
/* ================================================= Second row ========================================= */
.secondrow{
    display: flex;
    justify-content: center;
}
.secondrow .card{
    max-width: 800px;
    margin-top: 20px;
}
.secondrow .right{
    display: flex;
    justify-content: flex-end;
}
.aboutmepart2{
    min-width: 100%;
}
/* =========================================== third row ========================================= */
.thirdrow{
    display: flex;
    justify-content: center;
}
.thirdrow .main{
    padding-left: 100px;
    padding-right: 100px;
}
.thirdrow .main .card{
    margin-top: 20px;
    height: 300px;
    overflow-y: scroll;
}
.thirdrow .main .row h1{
    display: flex;
    justify-content: center;
}
/* .thirdrow .main .card::-webkit-scrollbar{
    width: 10px;
}
.thirdrow .main .card::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, dimgrey);
    border-radius: 50px;
}
.thirdrow .main .card::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 50px;
}
.thirdrow .main .card::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, coral);
    border-radius: 50px;
}
.thirdrow .main .card::-webkit-scrollbar-track:hover{
    background-color: grey;
    border-radius: 50px;
} */
/* .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media (prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
} */
