.card{
    z-index: 2;
}
body{
    overflow-x: hidden;
}
section{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-height: 400px;
    /* padding: 100px; */
}
.Turquoise{
    background-color: #00CED1;
}
.SkyBlue{
    background-color: #87CEEB;
}
.LightSteelBlue{
    background-color: #B0C4DE;
}
.Lavender{
    background-color: #E6E6FA;
}
.LavenderBlush{
    background-color: #FFF0F5;
}
.MistyRose{
    background-color: #FFE4E1;
}
.LightCoral{
    background-color: #F08080;
}
.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('../../public/svg/layer1.svg');
}
.blob-motion{
    position: absolute;
    transform: translateY(-20vh);
    transform: translatex(60vh);
    z-index: 1;
}
/* ===================================== Top row ===================================== */
.topRow{
    margin-top: 5%;
}
.portImg{
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 100% 0 0 100%;
}
.portImg img{
    width: 100%;
    height: 500px;
}
/* >>>>>>>>>>> About me card <<<<<<<<<<<< */
.aboutMeCard{
    margin-top: 5%;
    margin-left: 10%;
    border: none;
}
.aboutMeHeading{
    display: flex;
    justify-content: center;
}
.aboutMeCard .card-title{
    font-size: large;
}
/* ================================================= Second row ========================================= */
.secondrow{
    display: flex;
    justify-content: center;
}
.secondrow .card{
    max-width: 800px;
    margin-top: 20px;
}
.secondrow .right{
    display: flex;
    justify-content: flex-end;
}
.aboutmepart2{
    min-width: 100%;
}
/* =========================================== third row ========================================= */
.thirdrow{
    display: flex;
    justify-content: center;
}
.thirdrow .main{
    padding-left: 100px;
    padding-right: 100px;
}
.thirdrow .main .card{
    margin-top: 20px;
    height: 300px;
    overflow-y: scroll;
}
.thirdrow .main .row h1{
    display: flex;
    justify-content: center;
}
/* ========================================== fourth row ======================================================== */
.fourthrow .main .card{
    margin-top: 10px;
    width: auto;
}
.fourthrow .main .card-body .row{
    display: flex;
    justify-content: center;
}
.fourthrow .main .row h1{
    display: flex;
    justify-content: center;
}

































/* .thirdrow .main .card::-webkit-scrollbar{
    width: 10px;
}
.thirdrow .main .card::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, dimgrey);
    border-radius: 50px;
}
.thirdrow .main .card::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 50px;
}
.thirdrow .main .card::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, coral);
    border-radius: 50px;
}
.thirdrow .main .card::-webkit-scrollbar-track:hover{
    background-color: grey;
    border-radius: 50px;
} */
/* .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media (prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
} */
