/* ============================================ General stufff and design =============================================== */
body{
    overflow-x: hidden;
}
section{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-height: 400px;
    /* padding: 100px; */
}
.Turquoise{
    background-color: #00CED1;
}
.SkyBlue{
    background-color: #87CEEB;
}
.LightSteelBlue{
    background-color: #B0C4DE;
}
.Lavender{
    background-color: #E6E6FA;
}
.LavenderBlush{
    background-color: #FFF0F5;
}
.MistyRose{
    background-color: #FFE4E1;
}
.LightCoral{
    background-color: #F08080;
}
.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url('../../public/svg/layer1.svg');
}
.layer2{
    background-image: url('../../public/svg/layer2.svg');
}
.layer3{
    background-image: url('../../public/svg/layer3.svg');
}
.layer4{
    background-image: url('../../public/svg/layer4.svg');
}
.layer5{
    background-image: url('../../public/svg/layer5.svg');
}
.layer6{
    background-image: url('../../public/svg/layer6.svg');
}
.blob-motion{
    position: absolute;
    transform: translateY(-20vh);
    transform: translatex(60vh);
    z-index: 1;
}
/* .card{
    z-index: 2;
} */
/* ===================================== Top row ============================================================================ */
.topRow{
    margin-top: 5%;
}
.portImg{
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 100% 0 0 100%;
}
.portImg img{
    width: 100%;
    height: 500px;
}
/* >>>>>>>>>>> About me card <<<<<<<<<<<< */
.aboutMeCard{
    margin-top: 5%;
    margin-left: 10%;
    border: none;
}
.aboutMeHeading{
    display: flex;
    justify-content: center;
}
.aboutMeCard .card-title{
    font-size: large;
}
.aboutMeCard h4{
    /* font-size: large; */
    display: inline;
}
.aboutMeCard .card-text:hover{
    transform: scale(1.1);
}
/* ================================================= Second row ================================================================== */
.aboutmepart2 .card{
    width: 70%;
    margin-top: 30px;
}
.right{
    display: flex;
    justify-content: flex-end;
}
.aboutmepart2 .card:hover{
    background-color: black;
    color: white;
}
/* =========================================== third row ================================================================================ */
.top-section{
    text-align: center;
    padding: 4rem 0;
    /* max-width: 200px; */
    margin: 0 auto;
}
.timeline{
    position: relative;
    min-height: 150px;
}
.line{
    position:absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    bottom: -50px;
    background-color: #000;
    /* display: none; */
}
.line:before,
.line:after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    transform: translateX(-50%);
}
.line:after{
    bottom: 0;
}
.section{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 300px;
}
.section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
}
.bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #000;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}
.content{
    width:calc(50% - 2rem);
}
.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}
/* ========================================== fourth row ======================================================== */
.fourthrow .main .card{
    margin-top: 10px;
    width: auto;
}
.fourthrow .main .card-body .row{
    display: flex;
    justify-content: center;
}
.fourthrow .main .row h1{
    display: flex;
    justify-content: center;
}
.fifthrow .main .row h1{
    display: flex;
    justify-content: center;
}
@keyframes fadeInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
        /* transform: translateY(0); */
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        /* transform: translateY(-100%) */
        /* transform: translateY(10px); */
    }
}
@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
        /* transform: translateY(0); */
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        /* transform: translateY(-100%) */
        /* transform: translateY(10px); */
    }
}
@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
        /* transform: translateY(0); */
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        /* transform: translateY(-100%) */
        /* transform: translateY(10px); */
    }
}
.fade-in-left {
    animation: fadeIn 2s ease-in-out forwards;
}
.fade-in-right {
    animation: fadeInRight 2s ease-in-out forwards;
}
.fade-in-up {
    animation: fadeInUp 2s ease-in-out forwards;
}
.fade-in-down {
    animation: fadeInDown 2s ease-in-out forwards;
}
.servicehidden1, .servicehidden2, .servicehidden3, .servicehidden4, .servicehidden5, .servicehidden6, .servicehidden7, .servicehidden8, .servicehidden9, .servicehidden10, .servicehidden11, .servicehidden12 {
    /* background-color: #000; */
    color: white;
    display: none;
    background-image: url(../../public/svg/servicebg.svg);
}
/* ====================================== fifth row =================================================================================== */
 /* see thirdrow stylying because they use the same timeline and element stylying */
/* ====================================== sixth row =========================================================== */
.sixthrow .main .row h1{
    display: flex;
    justify-content: center;
}
.searchbar{
    width: 500px;
    opacity: 0;
    /* margin-left:10px */
}
.searchlist{
    width: 500px;
    opacity: 0;
}
.searchlist li{
    opacity: 0;
}
  /* Style for the fade-out/fade-in animation */
  .fade-out {
    animation: fadeOut 3s ease-in-out forwards;
    animation-delay: 3s;
}

.fade-in {
    animation: fadeIn 4s ease-in-out forwards;
    animation-delay: 5s;
}

.appear{
    animation: appear 1s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
        /* transform: translateY(0); */
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        /* transform: translateY(-100%) */
        /* transform: translateY(10px); */
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes disappear {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
        display: none;
    }
}
.points .card{
    background-color: transparent;
    border: none;
    transition: transform 1s;
}
.points .card:hover{
    /* text-decoration: underline red; */
    /* text-transform: uppercase; */
    transform: scaleY(1.5);
    transition: 2s;
}
.points .card .card-title{
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.pointsimg .card{
    transition: transform 1s;
}
.pointsimg .card:hover{
    transform: scaleY(1.1);
    transition: 2s;
}
.skillhiddenleft1, .skillhiddenleft2, .skillhiddenleft3, .skillhiddenleft4, .skillhiddenleft5, .skillhiddenleft6, .skillhiddenleft7, .skillhiddenleft8, .skillhiddenright1, .skillhiddenright2, .skillhiddenright3, .skillhiddenright4, .skillhiddenright5, .skillhiddenright6, .skillhiddenright7, .skillhiddenright8 {
    display: none;
}
.searchlist li:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    /* transform: scaleX(2); */
    transform: scaleY(2);
    transition: transform 1s;
}
/* ====================================== seventh row =========================================================== */
.seventhrow .main .row h1{
    display: flex;
    justify-content: center;
}
.hobbies .card{
    height: 200px;
    transition: transform 1s;
}
.hobbies .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: x-large;
}
.hobbies .card:hover{
   transition: transform 1s ease-in-out, opacity 1s ease-in-out, box-shadow 0.5s ease-in-out;
   box-shadow: 2px 2px 2px #000;
   z-index: 2;
}
.tennis{
    background-image: url(../../public/imgs/tennis.jpg);
    background-size: cover;
    background-position: center center;
}
.chess{
    background-image: url(../../public/imgs/chess.jpg);
    background-size: cover;
    background-position: center center;
}
.programming{
    background-image: url(../../public/imgs/programming.jpg);
    background-size: cover;
    background-position: center center;
}
.film{
    background-image: url(../../public/imgs/film.jpg);
    background-size: cover;
    background-position: center center;
}
.basketball{
    background-image: url(../../public/imgs/basketball.jpg);
    background-size: cover;
    background-position: center center;
}
.card-hidden {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Add a transition for smooth sliding */
}

/* ====================================== eigth row =========================================================== */
.eigthrow .main .row h1{
    display: flex;
    justify-content: center;
}
.falling-text {
    list-style-type: none;
    position: relative;
}

.falling-text li {
    display: inline-block;
    position: absolute;
    animation: fall 3s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(100vh);
        opacity: 1;
    }
}

































/* .thirdrow .main .card::-webkit-scrollbar{
    width: 10px;
}
.thirdrow .main .card::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, dimgrey);
    border-radius: 50px;
}
.thirdrow .main .card::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 50px;
}
.thirdrow .main .card::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, coral);
    border-radius: 50px;
}
.thirdrow .main .card::-webkit-scrollbar-track:hover{
    background-color: grey;
    border-radius: 50px;
} */
/* .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
@media (prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
} */
